---
import Logo from "../assets/logos/logo.svg?raw";
import Menu from "../assets/icons/menu.svg?raw";
---

<header
	x-data="{ isTop: false, checkTop() { window.scrollY > 10 ? this.isTop = true : this.isTop = false } }"
	x-init="checkTop()"
	@scroll.window="checkTop()"
	class="w-full fixed inset-x-0 top-0 z-40 transition-colors duration-500"
	:class=" isTop ? 'bg-beige text-green' : 'text-white' "
>
	<nav
		class="w-full flex items-center justify-between gap-8 outer py-3 px-7 relative"
	>
		<!-- Mobile Menu -->
		<div class="xl:hidden xl:invisible shrink-0">
			<button class="cursor-pointer">
				<Fragment set:html={Menu} />
				<span class="sr-only">Open Menu</span>
			</button>
		</div>
		<!-- Navigation Links -->
		<div class="flex-1 max-xl:hidden max-xl:invisible">
			<div
				class="flex items-baseline gap-x-10 uppercase font-semibold copy-sm"
			>
				<a href="./" class="btn-underline">Shop</a>
				<a href="./" class="btn-underline">about</a>
				<a href="./" class="btn-underline">our farmers</a>
				<a href="./" class="btn-underline">ingredients</a>
			</div>
		</div>
		<!-- Logo -->
		<div
			class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 xl:static xl:translate-y-0 xl:translate-x-0"
		>
			<a href="./" class="inline-block">
				<Fragment set:html={Logo} />
				<span class="sr-only">Go to Skin B Home</span>
			</a>
		</div>
		<!-- CTA -->
		<div
			class="flex-1 flex justify-end items-baseline max-xl:hidden max-xl:invisible"
		>
			<div
				class="flex items-baseline gap-x-10 uppercase font-semibold copy-sm"
			>
				<a href="./" class="btn-underline">Account</a>
				<a href="./" class="btn-underline">Cart (0)</a>
			</div>
		</div>
	</nav>
</header>
